body{
	/*background-color: #333333;*/
	background-color: #00001a;
}

.table{
	background-color: #fff;
}

.thead-yellow{
	background: linear-gradient(45deg, rgba(255,196,68,1) 58%, rgba(255,207,102,1) 79%);
	color: #fff;
	text-shadow: rgb(150, 150, 150) 0px 0px 3px;
}

.link{
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

.restday{
	background-color: #ccc;
}

.absent{
	background-color: #ff3333;
	color: #fff;
}

.ot{
	background-color:#4CAF50;
	color:#fff;
}

thead *{
	font-size: 0.9rem !important;
}

tbody *{
	font-size: 0.9rem !important;
}

.hidden{
	display: none !important;
}


.datetime *{
	width: 90%;
}

.removeOt{
	position: relative;
}

.OtEl{
	display: none;
	position: absolute;
	font-size: 1.3rem;
	top: 50%;
	right: 0.3rem;
	transform: translateY(-50%);
	cursor: pointer;
}

.removeOt:hover > .OtEl{
	display: inline-block;
}

.input span{
	display: inline-block;
	height: 0.9rem;
	width: 100%;
}

.pos-relative{
	position: relative;
}

.pos-abs-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.min-height-12rem{
	min-height: 12rem;
}

.modal{
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	display: grid;
	place-items: center;
	color: #fff;
}